.App {
  width: auto;
  height: auto;
}

.Menu {
  background-color: #9bd766;
  display: flex;
  padding: 5px 5px;
}

.Item {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.Item-Active {
  background-color: blue;
  color: #fff;
}

.Sub-Menu {
  display: flex;
  flex-wrap: wrap;
}

.Sub-Menu>a {
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.Main-Content {
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  padding: 40px;
}