.App {
  width: auto;
  height: auto;
}

.Module-List {
  background-color: #000;
  display: flex;
  padding: 8px 5px;
}

.Module {
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
}

.Module-Active {
  background-color: rgb(106, 230, 62);
  color: #000;
}

.Menu-List {
  background-color: #9bd766;
  display: flex;
  padding: 5px 5px;
}

.Menu {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.Menu-Active {
  background-color: #000;
  color: #fff;
}

.Sub-Menu {
  display: flex;
  flex-wrap: wrap;
}

.Sub-Menu>a {
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.Main-Content {
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  padding: 40px;
}